/*main content*/
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5pS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}
html {
    background: #fcfff4 url("../images/presence.png") repeat fixed;
}
body {
    background: url("../images/Motorcycle.png") no-repeat 20% .5%, -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%), #fffaf4;
    background: linear-gradient(#fcfff4 0%,#e9e9ce 100%);
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    border:thick double #D97D71;
    padding: 0 5% 0 5%;
    width: 85%;
    margin: auto;
    border-radius: 50px;
    box-shadow: -5px 5px 7px 5px #969696;
}
nav {
    margin:auto;
    width: 15%;
}
h1 {
    color: #730C02;
    text-align: center;
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: underline;
    text-shadow: 4px 4px 14px #969696;
}
h2 {
    color:#A62103;
    font-size: 1.5em;
}
h3 {
    color:#D93B18;
    font-size: 1.25em;
}
/*end main content*/
/*links & lists*/
a:link {
    color: #730C02;
    text-decoration: underline;
}
a:visited {
    color: #2f4f4f;
}
a:hover {
    color: #A62103;
}
a:active {
    color: #D93B18;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    text-align: center;
}

/*end links & lists*/

#column1 {
    float:left;
    width:60%;
    padding: 1%;
    margin: 1%;
    overflow: auto;
}
/*images on the side*/
#column2 {
    float: left;
    width:30%;
    padding: 1%;
    margin:1%;
    overflow: auto;
}
img {
    border: 4px solid #800000;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: -5px 5px 7px 5px hsla(0, 0%, 0%, 0.53);
}
img:hover {
    border-color: #A62103;
    box-shadow: -5px 5px 7px 5px #969696;
}
img:active {
    border-color: #D93B18;
}
figcaption {
    text-align: center;
    padding-top: 3%;
    font-size:.75em;
}
figure {
    padding-top: 5%;
}
#Images {
    text-align: center;
}
/*end images on the side*/
/*table styling*/
table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
th {
    padding: 7px;
    font-size: .9em;
}
td {
    font-size: .65em;
    text-align: center;
}
tr.odd {
    background-color: #e9e9ce;
}
tr.even {
    background-color: #D97D71;
}
tr:hover {
    background-color: #C0ECFF;
}
/*end table styling*/
/*Contact info*/
#Contact{
    color: #D93B18;
    clear:both;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    padding: 0 0 1% 1%;
}
.title{
    float: left;
    width: 30%;
    margin: 0 0.5% 0 0;
}
#email:hover, #name:hover, textarea:hover {
    background-color: #C0ECFF;
}
#email:focus, #name:focus, textarea:focus {
    background-color: #EEFF00;
}
textarea {
    width:20%;
    text-align: left;
    padding: 0 0 3% 0;
    font-size: 1.1em;
}
div#submit {
    text-align: left;
}
div#submit:active input{
    background:-webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
    background:linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
}
/*End contact info*/
/*adding padding between footer and last page item*/
#Today {
    padding-bottom: 2%;
}

footer {
    padding: 2% 0 2% 0;
    text-align: center;
    clear: both;
}
