/*main content*/
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5pS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}
html {
    background: #fcfff4 url("../images/presence.png") repeat fixed;
}
body {
    background: url("../images/Motorcycle.png") no-repeat 20% .5%, -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%), #fffaf4;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    border:thick double #D97D71;
    padding: 0 5% 0 5%;
    width: 75%;
    margin: auto;
    border-radius: 50px;
    box-shadow: -5px 5px 7px 5px #969696;
}
h1 {
    color: #730C02;
    text-align: center;
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: underline;
    text-shadow: 4px 4px 14px #969696;
}
h2 {
    color:#A62103;
    font-size: 1.5em;
}
h3 {
    color:#D93B18;
    font-size: 1.25em;
}
/*end main content*/

nav {
    background: #fff;
    margin:auto;
    padding: 0 10% 0 10%;
    border: #800000 outset;
    width: 40%;
}

/*links & lists*/
a {
    color: #730C02;
    text-decoration: none;
}
a:visited {
    color: #2f4f4f;
}
a:hover {
    color: #A62103;
}
a:active {
    color: #D93B18;
}
ol {
    list-style-type: upper-roman;
}
ul {
    list-style-type: disc;
}
/*end links & lists*/

#column1 {
    float:right;
    clear: both;
    width:65%;
    padding: 1%;
    margin: 2%;
    overflow: auto;
}
/*images on the side*/
#column2 {
    float: right;
    clear: both;
    width:35%;
    padding: 1%;
    margin:1% 0 1% 1%;
    overflow: auto;
}
img {
    border: 4px solid #800000;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: -5px 5px 7px 5px hsla(0, 0%, 0%, 0.53);
}
img:hover {
    border-color: #A62103;
    box-shadow: -5px 5px 7px 5px #969696;
}
img:active {
    border-color: #D93B18;
}
figcaption {
    text-align: center;
    padding-top: 3%;
    font-size:.75em;
}
figure {
    padding-top: 5%;
}
#Images {
    text-align: center;
}
/*end images on the side*/

/*adding padding between footer and last page item*/
#Today {
    padding-bottom: 2%;
}

footer {
    text-align: center;
}
